.default {
  margin-top: 2em;

  p {
    font-size: 0.875rem;
    font-weight: 700;
    opacity: 0.5;
    text-wrap: wrap;

    text-align: center;
    transition: color 0.3s ease;
  }
}

.default_dark {
  color: #fff;
}

@media (min-width: 768px) {
  .default {
    font-size: 1.125rem;
  }
}
