@use "./../../scss/colors" as c;
@use "./../../scss/text" as t;

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  @include t.headingSmall();

  .icon {
    font-size: 4rem;
    margin-bottom: 0.5em;
  }

  .heading {
    font-size: 1rem;
    margin-bottom: 1.5em;
  }

  .message {
    @include t.bodyMedium(0.875rem);
    text-align: center;
    color: c.$gray-1;
  }

  @media (min-width: 768px) {
    .heading {
      font-size: 1.125rem;
    }

    .message {
      @include t.bodyMedium();
    }
  }
}
