@use "./../../../scss/colors" as c;
@use "./../../../scss/text" as t;

.fontSelector {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 1.126em;
  cursor: pointer;
  position: relative;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }

  .fonts {
    white-space: nowrap;
    margin-top: 0.875em;
    font-size: 14px;
    position: absolute;
    top: 1.125em;
    left: -2em;
    padding: 1.2em 2em 1.2em 1.2em;
    border-radius: 20px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 1em #f2f2f2;

    p {
      line-height: 24px;

      &:hover {
        color: c.$violet;
        transition: color 0.3s ease;
      }
    }
  }
}
