@use "./../../../scss/colors" as c;
@use "./../../../scss/text" as t;

.fontSelector {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 700;
  gap: 1.126em;
  cursor: pointer;
  position: relative;

  @media (min-width: 768px) {
    font-size: 1.125rem;
  }

  .fonts {
    white-space: nowrap;
    margin-top: 0.875em;
    font-size: 0.875rem;
    position: absolute;
    top: 1.125em;
    left: -2em;
    padding: 1.2em 2em 1.2em 1.2em;
    border-radius: 20px;
    z-index: 1;
    transition: font-size 0.3s ease, padding 0.3s ease, left 0.3s ease;

    @media (min-width: 768px) {
      font-size: 1.125rem;
      padding: 1.33em 3.83em 1.33em 1.33em;
      left: -3.83em;
    }

    p {
      line-height: 1.714em;

      &:hover {
        color: c.$violet;
        transition: color 0.3s ease;
      }
    }
  }
}

.font_light {
  background-color: #fff;
  box-shadow: 0 0 2em #f2f2f2;
}

.font_dark {
  background-color: c.$black-2;
  box-shadow: 0 0 2em c.$violet;
}
