@use "./../../../../scss/colors" as c;
@use "./../../../../scss/text" as t;

.subHeading {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  transition: margin-bottom 0.3s ease;

  h2 {
    @include t.bodyMedium();
    font-weight: 700;
    font-style: italic;
    color: c.$lt-primary-black;
  }

  @media (min-width: 768px) {
    margin-bottom: 2.5em;

    h2 {
      font-size: 1.5rem;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: c.$gray-2;
}

.content_heading {
  @include t.headingSmall(1rem);
  color: c.$gray-1;
  margin-bottom: 1em;

  @media (min-width: 768px) {
    @include t.headingSmall(1.25rem);
  }
}

.list {
  margin-left: 1.2em;

  li {
    list-style-type: none;
    position: relative;
    @include t.bodyMedium(0.937rem);
  }

  li:not(:last-child) {
    margin-bottom: 0.812em;
  }

  .example {
    color: c.$gray-1;
    list-style-type: none;
  }

  .list_data::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 8px;
    left: -20px;
    border-radius: 50%;
    background-color: c.$violet;
  }

  @media (min-width: 768px) {
    li {
      @include t.bodyMedium();
    }
  }
}

.footer {
  margin-top: 1.5em;
  display: inline-block;
  @include t.bodyMedium(1rem);

  p {
    display: inline;
    margin-right: 1.5em;
  }

  p:first-child {
    color: c.$gray-1;
  }

  p:last-child {
    color: c.$violet;
    font-weight: 700;
  }

  p:last-child:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: c.$violet;
  }

  @media (min-width: 768px) {
    @include t.headingSmall(1.25rem);
    margin: 2.5em;
  }
}
