@use "./../../scss/colors" as c;
@use "./../../scss//text" as t;

.search {
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  margin-top: 1.5em;
  transition: margin-top 0.3s ease;

  &.focused {
    outline: 1px solid c.$violet;
  }

  &:hover {
    outline: 1px solid c.$violet;
  }

  // Tablet and desktop
  @media (min-width: 768px) {
    margin-top: 58px;
    height: 64px;
    font-size: 20px;
  }
}

.search_lt {
  background-color: c.$lt-primary-gray;
}

.searchField {
  width: 90%;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }

  &::placeholder {
    font-weight: 400;
  }
}
