@use "./../../scss/colors" as c;
@use "./../../scss/text" as t;

.search {
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
  margin-top: 1.5em;
  background-color: c.$lt-primary-gray;
  transition: margin-top 0.3s ease;

  &.focused {
    outline: 1px solid c.$violet;
  }

  &:hover {
    outline: 1px solid c.$violet;
  }

  // Tablet and desktop
  @media (min-width: 768px) {
    margin-top: 58px;
    height: 64px;
    font-size: 20px;
  }
}

.search_dt {
  transition: background-color 0.3s ease;
  background-color: c.$black-2;
  color: c.$white;
}

.error {
  outline: 1px solid c.$orange !important;
}

.errorMessage {
  margin-top: 8px;
  @include t.headingSmall(0.875rem);
  color: c.$orange;

  @media (min-width: 768px) {
    @include t.headingSmall();
  }
}

.searchField {
  width: 90%;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  caret-color: c.$violet;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

.searchField_lt {
  &::placeholder {
    @include t.headingSmall(0.875rem);
    color: c.$black-3;
    opacity: 25%;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    &::placeholder {
      @include t.headingSmall();
      font-weight: 700;
    }
  }
}

.searchField_dt {
  &::placeholder {
    @include t.headingSmall(0.875rem);
    color: c.$white;
    opacity: 25%;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    &::placeholder {
      @include t.headingSmall();
      font-weight: 700;
    }
  }
}

.searchBtn {
  height: 100%;
  cursor: pointer;
}
