// Black shades — with 1 being the darkest and 4 being the lightest.
$black-1: #050505;
$black-2: #1f1f1f;
$black-3: #2d2d2d;
$black-4: #3a3a3a;

// Gray shades: with 1 being the darkest and 3 being the lightest
$gray-1: #757575;
$gray-2: #e9e9e9;
$gray-3: #f4f4f4;

$white: #ffffff;

$violet: #a445ed;
$orange: #ff5252;

$lt-primary: $black-3;
