@use "./colors" as c;

@mixin textBoldSans($size) {
  font-family: Inter, sans-serif;
  font-size: $size;
  font-weight: 700;
}

.sansSerif {
  font-family: Inter, sans-serif;
}

.serif {
  font-family: Lora, serif;
}

.mono {
  font-family: Inconsolata, monospace;
}

// Design system
@mixin headingLarge($size: 4rem) {
  font-size: $size;
  line-height: 1.203;
  font-weight: 700;
}

@mixin headingMedium($size: 1.5rem) {
  font-size: $size;
  line-height: 1.208;
  font-weight: 400;
}

@mixin headingSmall($size: 1.25rem) {
  font-size: $size;
  line-height: 1.2;
  font-weight: 400;
}

@mixin bodyMedium($size: 1.125rem) {
  font-size: $size;
  line-height: 1.334;
  font-weight: 400;
}

@mixin bodySmall($size: 0.875rem) {
  font-size: $size;
  line-height: 1.214;
  font-weight: 400;
  text-decoration: underline;
}
